/* .....Common shared styles..... */

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

  body{
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }
  .description{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn-primary{
    color: #FFF;
    padding: 15px 25px;
font-size: 1rem;
font-weight: 700;
border: none;
    border-radius: 8px;
background: #FF5400;
cursor: pointer;
  }
  .btn-primary:hover{
    color: rgb(26, 6, 175);
  }
  main{
    max-width: 1170px;
    margin: 0 auto;
  }

  /* .....Header section styles...... */
header{
    margin-bottom: 70px;
}
  nav{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 236, 220);
  }
  .nav-heading{
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .nav-title{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
  }
  .sa{
    color: #131318;
font-size: 2.25rem;
font-weight: 800;
  }
  .nav-items{
    display: flex;
    gap: 30px;
    list-style: none;
  }
  .home{
    color: #FF5400;
font-size: 1.12rem;
font-weight: 700;
  }
  
  /* ....Banner section styles..... */

  .banner{
    max-width: 1170px;
    margin: 20px;
    padding: 0 180px;
    padding-top: 20px;
    padding-bottom:70px ;
    margin: 20px 50px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png); 
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }
  .banner-container{
    text-align: center;
    padding: 0 30px;
  }
  .banner-title{
    color: #FFF;
font-size: 4rem;
font-weight: 800;
  }
  .banner-description{
    color: #FFF;
font-size: 1rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-bottom: 20px;
  }
  .banner-input{
    background-color: rgba(240, 248, 255, 0.51);
    border-radius: 5px;
    padding: 10px ;
    margin-bottom: 10px;
  }
  .input-field,.bnr-btn{
    width: 23%;
    padding: 16px;
    border: none;
    border-radius: 5px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
  }
 

/* .....Our Popular section styles..... */

.popular-container{
display: flex;
align-items: center;
gap: 20px;
}
.popular-content{
    width: calc(100% - 20px);
    padding: 10px;
}
.popular-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.popular-image{
    width: calc(100% - 20px);
}
.popular-image img{
    width: 100%;
}

/* .....Responsiveness for phone/small devices */

  @media screen and (max-width:600px) {
    nav{

        flex-direction: column;
    }
    .banner{
        padding:10px;
    }
    .banner-input{
        display: flex;
        gap: 20px;
        flex-direction: column;
       padding: 20px;
    }
    .input-field,.bnr-btn{
        width: 100%;
    }
    .banner-input .text{
       width: 92%;
    }
    .popular-container{
        flex-direction: column;
        gap: 50px;
        padding: 10px;
        margin: 20px;
    }
  }